//////////
// Colors
//////////

$color-white: #fff;
$color-black: #000;
$color-red: #e44d41;



//////////
// Paths
//////////

$path-to-assets: '../../assets/';



//////////
// Fonts
//////////

$font-jaapokki: 'jaapokki', trebuchet, Arial;
$font-worksans-light: 'work_sanslight', trebuchet, Arial;
$font-worksans-extralight: 'work_sansextralight', trebuchet, Arial;
$font-worksans-regular: 'work_sansregular', trebuchet, Arial;
$font-worksans-medium: 'work_sansmedium', trebuchet, Arial;
