//////////
// Colors
//////////

$color-white: #ffffff;
$color-black: #000000;



//////////
// Paths
//////////

$path-to-assets: '../../assets/';



//////////
// Fonts
//////////

$font-main: Arial;
