<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="I'm Lucas Martin, a french creative developer and student at HETIC">
	<title>Lucas Martin | Portfolio</title>
	<link rel="stylesheet" href="stylesheets/app.css">
</head>
<body>


	<div class="wrapper">

		<header>
			<h1>Lucas Martin</h1>
			<h2>Creative Developer</h2>
			<p>Hi there ! I'm a 4th year french student <a href="http://www.hetic.net/" target="_blank">@HETIC</a>, and currently looking for a 6-month internship in a digital agency.</p>
			<!-- <img src="./assets/img/logo-lucas-martin.svg" alt="logo - Lucas Martin Portfolio"> -->
		</header>


		<div class="projects">
			<h3>Projects</h3>
			<ul>
				<li>
					<a href="" target="_blank">Zoe La Fusée
						<span>- (Holograms, NodeJS, EJS)</span>
					</a>
				</li>
				<li>
					<a href="" target="_blank">Preview App
						<span>- (VueJs, ES6, Webpack, NodeJs, Express) </span>
					</a>
				</li>
				<li>
					<a href="" target="_blank">Adel Meziani
						<span>- (WIP)</span>
					</a>
				</li>
				<li>
					<a href="" target="_blank">Max Daumin
						<span>- (WIP)</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="lab">
			<h3>Lab</h3>
			<ul>
				<li>
					<a href="" target="_blank">Waves
						<span>- (ThreeJS, ES6, Webpack)</span>
					</a>
				</li>
				<li>
					<a href="http://lucasmartin.fr/lab/michaelJordan/" target="_blank">Jordan
						<span>- (TweenMax, canvas)</span>
					</a>
				</li>
				<li>
					<a href="http://lucasmartin.fr/lab/particles/" target="_blank">Particles
						<span>- (TweenMax, canvas)</span>
					</a>
				</li>
				<li>
					<a href="http://lucasmartin.fr/lab/firewatch/" target="_blank">Firewatch
						<span>- (jQuery, Tweenmax)</span>
					</a>
				</li>
			</ul>
		</div>


		<footer class="footer">

			<ul>
				<li><a href="https://github.com/lmarti17" target="_blank">Github</a></li>
				<li><a href="https://twitter.com/lmarti17" target="_blank">Twitter</a></li>
				<li><a href="mailto:contact@lucasmartin.fr" target="_blank">Contact</a></li>
			</ul>

		</footer>

	</div>


	<script src="scripts/p5.min.js"></script>
	<script src="scripts/app.js"></script>
</body>
</html>
