<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="I'm Lucas Martin, a french creative developer and student at HETIC">
	<title>Lucas Martin | Portfolio</title>
	<link rel="icon"
      type="image/png"
      href="/assets/img/favicon.png">
	<link rel="stylesheet" href="stylesheets/app.css">

	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

</head>
<body>

	<div class="wrapper">

		<header>
			<h1>Lucas Martin</h1>
			<h2>Creative Developer</h2>
			<p>Hi there ! I'm a 4th year french student <a href="http://www.hetic.net/" target="_blank">@HETIC</a> and currently looking for a 6-month internship in a creative digital agency.</p>
		</header>


		<div class="projects">
			<h3>Projects</h3>
			<ul>
				<li>
					<a href="http://adelmeziani.com/" class="project" target="_blank">Adel Meziani
						<span>- (VueJS, ES6, Webpack, Tweenmax)</span>
					</a>
				</li>
				<li>
					<a href="https://youtu.be/g8OZYQZV7A0" class="project" target="_blank">Zoe La Fusée

						<span>- (Holograms, NodeJS, EJS)</span>
					</a>
				</li>
				<li>
					<a href="http://grouek.com/"  id="preview-app" class="project" target="_blank">Preview App | @Grouek
						<span>- (NodeJs, Express, VueJs, ES6, Webpack)</span>
					</a>
				</li>
				<li>
					<a href="http://tesla-prototype.lucasmartin.fr/" class="project" target="_blank">Tesla Interface
						<span>- (JQuery, Vivus)</span>
					</a>
				</li>
				<li>
					<a href="http://maxdaumin.com/" class="project" target="_blank">Max Daumin
						<span>- WIP (Prestashop, Yarn, Gulp, Sass, JQuery)</span>
					</a>
				</li>
			</ul>
		</div>

		<div class="lab">
			<h3>Lab</h3>
			<ul>
				<li>

					<a href="http://lucasmartin.fr/lab/waves/" target="_blank">Waves
						<span>- (ThreeJS, ES6, Webpack)</span>
					</a>
				</li>
				<li>
					<a href="https://www.csoler.fr/lab/vr/" target="_blank">VR prototype
						<span>- (Google Vr, Theta)</span>
					</a>
				</li>
				<li>
					<a href="http://lucasmartin.fr/lab/michaelJordan/" target="_blank">Jordan
						<span>- (TweenMax, canvas)</span>
					</a>
				</li>
				<li>
					<a href="http://lucasmartin.fr/lab/particles/" target="_blank">Particles
						<span>- (TweenMax, canvas)</span>
					</a>
				</li>
				<li>
					<a href="http://lucasmartin.fr/lab/firewatch/" target="_blank">Firewatch
						<span>- (Tweenmax)</span>
					</a>
				</li>
			</ul>
		</div>
		<footer class="footer">

			<ul>
				<li><a href="https://github.com/lmarti17" target="_blank">Github</a></li>
				<li><a href="https://twitter.com/lmarti17" target="_blank">Twitter</a></li>
				<li><a href="https://www.linkedin.com/in/lucas-martin-02b5b290/" target="_blank">LinkedIn</a></li>
				<li><a href="/assets/CV-2017.pdf" target="_blank">Resume</a></li>
				<li><a href="mailto:contact@lucasmartin.fr" target="_blank">Contact</a></li>
			</ul>

		</footer>

	</div>

	<script src="scripts/app.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-96664060-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
